@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMS Serif Regular';
  src: url('./assets/fonts/DMSerifText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DMS Serif Italic';
  src: url('./assets/fonts/DMSerifText-Italic.ttf') format('truetype');
}